[Unit]
Description=Ro parser.
After=network.target

[Service]
WorkingDirectory=/root/parser/server/
User=root
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TimeoutStartSec=8
Restart=always
RestartSec=3

ExecStart=/usr/bin/node /root/parser/server/dist/main.js

[Install]
WantedBy=multi-user.target
